{% extends 'home/base.html' %}
{% block body %}
<br/>
<div >
    <div>
        {% if user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend><span class="legend">File Form</span></legend>
                {% csrf_token %}
                {% include 'home/form-template.html' %}
                <input type="submit" name="Upload" value="Upload">
            </fieldset>
</form>
        {% endif %}
    </div>
</div>
{% endblock %}
