{% extends 'home/base.html' %}
{% block body %}
<br/>
<!--<div class="form">
    <form>
        <fieldset>
            <legend><span class="legend">Login Form</span></legend>
        <input type="text" placeholder="Username"><br><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" name="Login" value="Login">
        </fieldset>
    </form>
</div>
-->
<div class="form">
    <div align="center">
        {% for message in messages %}
            <div style="color:red;">
                {{message}}
            </div>
        {% endfor %}
        {% if not user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend><span class="legend">Login Form</span></legend>
                {% csrf_token %}
                {% include 'home/form-template.html' %}
                <input type="submit" name="Login" value="Login">
            </fieldset>
</form>
        {% endif %}
    </div>
</div>
{% endblock %}
